.App {
  text-align: center;
}

.link {
  color: #000081;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.loading-body {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  margin: 0 auto;
}